@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #f9f9f9;
    background-color: #213547;
  }
  a:hover {
    color: #61dafb;
  }
  button {
    background-color: #747bff;
  }
}